
@import base


// ********************************************************************************** GENERAL
body
  overflow: hidden
  position: relative
  font-family: 'Oxygen Mono', Helvetica, sans-serif

.mainFooter
  clear: both
  display: block
  position: absolute
  bottom: 1em
  width:  100%
  font-size: 0.7em
  text-align: center
  z-index: 0

#app
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 85%
  width:  100%
  margin: auto
  z-index: 2


// ********************************************************************************** PROJECT
.project
  position: absolute
  top: 2em
  width: 90%
  margin: 0 auto

  h2
    font-size: 2em
    text-align: center
    display: block
    width: 96%
    padding: 2%

%boxmodel
  width: 45%
  max-height: 25em
  padding: 1%
  +box-shadow(3px 3px 10px rgba(0, 0, 0, 0.5))
  background: rgba(172, 172, 172, 0.8)

.gallery
  @extend %boxmodel
  float: left

.currentImage
  width: 100%
  height: 22em
  text-align: center
  overflow: hidden
  img
    width: 100%
    height: auto
    display: inline-block

.thumbnails
  width: 100%
  height: 3em
  overflow: hidden
  img
    width: 24.25%
    padding: 0.5% 0.5% 0 0.5%
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
    &:hover
      +filter(invert(100%))

.description
  @extend %boxmodel
  float: right

.textDesc
  max-height: 25em
  text-align: justify
  overflow: auto

.link
  width: 45%
  padding: 1%
  float: right
  text-align: center
  font-size: 0.8em

  a
    color: black

.animation
  @extend .link
  float: left


// ********************************************************************************** PROJECT LIST
.projectList
  width: 90%
  height: 100%
  margin: 0 auto

.projectTile
  width: 22.5% // (100% - 10% margins) / 4 projects in a row
  height: 300px // this gets set equal to width in the code
  overflow: hidden
  float: left
  margin: 1% 1% 1% 1%
  +transition(all 2s ease-in-out)

  &:nth-child(4n+1) // 4 projects in a row
    margin-left: 2%
    clear: both

  &:nth-child(3n+1)
    position: relative
    top: 1em

.grayscale
  +filter(grayscale(100%))

.rotate-crop
  overflow: hidden
  width: 100%
  height: 100%
  +transform-origin(50% 50%)
  +transform(rotate(45deg))

.rotate-back
  overflow: hidden
  width: 100%
  height: 100%
  +transform-origin(50% 50%)
  +transform(rotate(-45deg))
  +transition(all 1s ease-in-out)

  img
    width: 100%


$dist: 2000px
.moveBottomRight
  +transform-origin(50% 50%)
  +transform(translate($dist,$dist))

.moveTopRight
  +transform-origin(50% 50%)
  +transform(translate(-1 * $dist,$dist))

.moveTopLeft
  +transform-origin(50% 50%)
  +transform(translate(-1 * $dist,-1 * $dist))

.moveBottomLeft
  +transform-origin(50% 50%)
  +transform(translate($dist,-1 * $dist))

.delay1
  +transition-delay(0.2s)
.delay2
  +transition-delay(0.3s)
.delay3
  +transition-delay(0.4s)
.delay4
  +transition-delay(0.5s)


@import animation
