/* Global reset
 * http://meyerweb.com/eric/tools/css/reset/
 **************************************************************** */
/* line 15, ../sass/_base.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/_base.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* SASS placeholder selector clearfix 
 * http://sasstwo.codeschool.com/
 **************************************************************** */
/* line 32, ../sass/_base.sass */
.clearfix {
  zoom: 1;
}
/* line 35, ../sass/_base.sass */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
/* line 39, ../sass/_base.sass */
.clearfix:after {
  clear: both;
}

/* line 44, ../sass/_base.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 4, ../sass/portfolio.sass */
body {
  overflow: hidden;
}

/* line 7, ../sass/portfolio.sass */
.mainFooter {
  clear: both;
  display: block;
  position: fixed;
  bottom: 1em;
  width: 100%;
  font-family: "Oxygen Mono", Helvetica, sans-serif;
  font-size: 0.7em;
  text-align: center;
  z-index: 0;
}

/* line 18, ../sass/portfolio.sass */
#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85%;
  width: 100%;
  margin: auto;
  z-index: 2;
}

/* line 30, ../sass/portfolio.sass */
.projectList {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* line 36, ../sass/portfolio.sass */
.projectTile {
  width: 22.5%;
  height: 300px;
  overflow: hidden;
  float: left;
  margin: 1% 1% 1% 1%;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
/* line 44, ../sass/portfolio.sass */
.projectTile:nth-child(4n+1) {
  margin-left: 2%;
  clear: both;
}
/* line 48, ../sass/portfolio.sass */
.projectTile:nth-child(3n+1) {
  position: relative;
  top: 1em;
}

/* line 53, ../sass/portfolio.sass */
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 57, ../sass/portfolio.sass */
.rotate-crop {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 64, ../sass/portfolio.sass */
.rotate-back {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 72, ../sass/portfolio.sass */
.rotate-back img {
  width: 100%;
}

/* line 77, ../sass/portfolio.sass */
.moveBottomRight {
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: translate(2000px, 2000px);
  -moz-transform: translate(2000px, 2000px);
  -ms-transform: translate(2000px, 2000px);
  -o-transform: translate(2000px, 2000px);
  transform: translate(2000px, 2000px);
}

/* line 81, ../sass/portfolio.sass */
.moveTopRight {
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: translate(-2000px, 2000px);
  -moz-transform: translate(-2000px, 2000px);
  -ms-transform: translate(-2000px, 2000px);
  -o-transform: translate(-2000px, 2000px);
  transform: translate(-2000px, 2000px);
}

/* line 85, ../sass/portfolio.sass */
.moveTopLeft {
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: translate(-2000px, -2000px);
  -moz-transform: translate(-2000px, -2000px);
  -ms-transform: translate(-2000px, -2000px);
  -o-transform: translate(-2000px, -2000px);
  transform: translate(-2000px, -2000px);
}

/* line 89, ../sass/portfolio.sass */
.moveBottomLeft {
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: translate(2000px, -2000px);
  -moz-transform: translate(2000px, -2000px);
  -ms-transform: translate(2000px, -2000px);
  -o-transform: translate(2000px, -2000px);
  transform: translate(2000px, -2000px);
}

/* line 93, ../sass/portfolio.sass */
.delay1 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 95, ../sass/portfolio.sass */
.delay2 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 97, ../sass/portfolio.sass */
.delay3 {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 99, ../sass/portfolio.sass */
.delay4 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
