/* Global reset
 * http://meyerweb.com/eric/tools/css/reset/
 **************************************************************** */
/* line 15, ../sass/_base.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/_base.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* SASS placeholder selector clearfix 
 * http://sasstwo.codeschool.com/
 **************************************************************** */
/* line 32, ../sass/_base.sass */
.clearfix {
  zoom: 1;
}
/* line 35, ../sass/_base.sass */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
/* line 39, ../sass/_base.sass */
.clearfix:after {
  clear: both;
}

/* line 44, ../sass/_base.sass */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../sass/portfolio.sass */
.projectList {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/* line 10, ../sass/portfolio.sass */
.projectTile {
  width: 22.5%;
  height: 300px;
  overflow: hidden;
  float: left;
  margin: 1% 1% 1% 1%;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
/* line 18, ../sass/portfolio.sass */
.projectTile:nth-child(4n+1) {
  margin-left: 2%;
  clear: both;
}

/* line 22, ../sass/portfolio.sass */
.rotate-crop {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 29, ../sass/portfolio.sass */
.rotate-back {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 36, ../sass/portfolio.sass */
.move {
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -webkit-transform: translate(50px, 100px);
  -moz-transform: translate(50px, 100px);
  -ms-transform: translate(50px, 100px);
  -o-transform: translate(50px, 100px);
  transform: translate(50px, 100px);
}
